@import "./helper/_animation";
@import "./global/_vars";
@import "./helper/_fonts";
@import "./global/_global";
@import "./components/ui";
// !Start code
.menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 150px;
}
@import "./global/_media";
