doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/dndLibrary.min.css")
        title Document
    include ./template/mixin.pug
    body(style = "height: 1080px")

        .wrapper
            .content

            .footer
        script(src = "assets/js/result.js")


