doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/dndLibrary.min.css")
        title Document
    include ./template/mixin.pug
    body(style = "height: 1080px")

        .wrapper
            .content
                .menus
                    .menu_item-active(style = "width: 100px")
                        button.dropdown-btn(style = "width: 100px; height: auto; display: block") Меню
                        ul.dropdown-list
                            li.dropdown-item
                                a.dropdown-link(href="#") action1
                            li.dropdown-item
                                a.dropdown-link(href="#") action2
                            li.dropdown-item
                                a.dropdown-link(href="#") action3
                            li.dropdown-item
                                a.dropdown-link(href="#") action4
                            li.dropdown-item
                                a.dropdown-link(href="#") action5
                            li.dropdown-item
                                a.dropdown-link(href="#") action6

                    .menu_item-active(style = "width: 100px")
                        button.dropdown-btn(style = "width: 100px; height: auto;display: block") Меню
                        ul.dropdown-list
                            li.dropdown-item
                                a.dropdown-link(href="#") action1
                            li.dropdown-item
                                a.dropdown-link(href="#") action2
                            li.dropdown-item
                                a.dropdown-link(href="#") action3
                            li.dropdown-item
                                a.dropdown-link(href="#") action4
                            li.dropdown-item
                                a.dropdown-link(href="#") action5
                            li.dropdown-item
                                a.dropdown-link(href="#") action6

                button.btnClick(style = "width: 300px; height: auto; margin: 50px; display: block")
                    span Кликни
                button.test(style = "width: 300px; height: auto; margin: 50px; display:none;")
                    span появился
                p.text
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi enim mollitia quae asperiores quibusdam, eaque, blanditiis facilis rem eveniet sunt? Quisquam amet quis dolorem debitis accusamus repellendus consequuntur aspernatur.
                    span Rerum repellat laboriosam perferendis labore, ipsa dolorem expedita doloribus quidem similique illo numquam, odio perspiciatis aperiam veniam, quis nam facere voluptatem explicabo fugiat non id nulla? Dignissimos provident voluptate possimus.
                    span Cupiditate optio beatae error aspernatur eligendi corporis numquam quibusdam est! Libero nam ab aperiam quae vitae enim quibusdam amet officiis dolorum inventore. Veritatis provident corrupti sequi facere suscipit ipsam dolore!
                    span A, optio accusantium! Officia quis incidunt deleniti doloremque nemo, possimus inventore adipisci atque sit iusto sunt labore, molestias nostrum. Sed id veritatis provident, error explicabo harum obcaecati ad pariatur blanditiis?
                    span Debitis, eveniet nobis explicabo dicta delectus distinctio, deleniti id ipsam aut pariatur sed perspiciatis. Atque modi laboriosam aperiam aut labore eaque esse dolore corrupti at! Eaque nihil omnis odit cumque.

                p.text
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta excepturi enim mollitia quae asperiores quibusdam, eaque, blanditiis facilis rem eveniet sunt? Quisquam amet quis dolorem debitis accusamus repellendus consequuntur aspernatur.
                    span Rerum repellat laboriosam perferendis labore, ipsa dolorem expedita doloribus quidem similique illo numquam, odio perspiciatis aperiam veniam, quis nam facere voluptatem explicabo fugiat non id nulla? Dignissimos provident voluptate possimus.
                    span Cupiditate optio beatae error aspernatur eligendi corporis numquam quibusdam est! Libero nam ab aperiam quae vitae enim quibusdam amet officiis dolorum inventore. Veritatis provident corrupti sequi facere suscipit ipsam dolore!
                    span A, optio accusantium! Officia quis incidunt deleniti doloremque nemo, possimus inventore adipisci atque sit iusto sunt labore, molestias nostrum. Sed id veritatis provident, error explicabo harum obcaecati ad pariatur blanditiis?
                    span Debitis, eveniet nobis explicabo dicta delectus distinctio, deleniti id ipsam aut pariatur sed perspiciatis. Atque modi laboriosam aperiam aut labore eaque esse dolore corrupti at! Eaque nihil omnis odit cumque.
            .footer
        script(src = "assets/js/result.js")


